
Top-Down Shooter/bin/SFMLGame.exe
Top-Down Shooter/bin/SFMLGame.iobj
Top-Down Shooter/bin/SFMLGame.ipdb
Top-Down Shooter/bin/SFMLGame.pdb
Top-Down Shooter/visualstudio/.vs/
Top-Down Shooter/visualstudio/Debug/
Top-Down Shooter/visualstudio/Release/