Core shit

x. Set up base project on github

x. Implement directional shooting
 x Rotate player to always face cursor

x. Implement multiple weapons
 x Come up with the weapons
 x Weapon component
 x Switch between weapons with 1,2,3,4
 x Only switch to weapons that you have already picked up

x. Implement HP system
 x Make an HP component
 x Represent HP on HUD
 x Make a damage component

5. Items, inventory, inventory menu
 x Come up with the items
 x Inventory component
 x Represent items in the world / pick them up
 x Use items
 - Display inventory menu

x. Add gravity component
 x Make things move properly toward an attractor

7. Steering
 - Rockets / possibly entity steering

Extras

x. Reloading
 x Add ammo to weapon component
 x Display current ammo somehow
 x Have a reload button

x. Ricochet
 x Make some bouncing bullets

10. Dashing / Teleportation
 x Make some kind of short-range dash
 - Make doors that can teleport to other areas

x. Stealth
 x Make something that blocks vision but not movement

x. Explosions
 x Decide whether to do frag or actual radius explosion

Finishing Touches

13. Advanced enemy AI / Boss AI
 - Possibly implement shooting AI
 - Come up with some boss AI and code it in a way that is easy to put in config file
 - Weapon-specific weaknesses / color changes

14. Menu with level select / final boss
 - Make the menu
 - Make weapon unlocks persist across levels
 - Make it possible for the menu to recognize which levels you have beaten

15. Art and sound assets
 - Get all that shit otg

16. Actually make the levels
 - And make them good
